/* Estilos específicos para el formulario de validación de la flag de root */
.flag-form {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.flag-form label {
    font-weight: bold;
    color: #5e5e5e;
}

.flag-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}

.flag-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flag-form input[type="submit"]:hover {
    background-color: #45a049;
}

.flag-form .alert {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.flag-form .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.flag-form .alert-danger {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}