/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00FF00;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #001a00;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #7FFF00;
    margin-bottom: 5px;
}

.logo p {
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #7FFF00;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #001a00;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #7FFF00;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 40px 0;
}

.terminal {
    padding: 20px;
    border: 2px solid #7FFF00;
    border-radius: 8px;
    background-color: #000;
    overflow: auto;
    margin-top: 20px;
}

.terminal p {
    line-height: 1.5;
}

.green {
    color: #00FF00;
}

.content {
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #7FFF00;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6CC644;
}

/* Estilos para el pie de página */
footer {
    background-color: #001a00;
    color: #fff;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin-right: 10px;
}

.footer-content a {
    color: #7FFF00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #6CC644;
}

.ctf-image img {
    max-width: 200px;
    /* Ajusta el tamaño máximo de la imagen según lo necesario */
    height: auto;
    display: block;
    margin: 0 auto;
}

.ctf {
    background-color: #001a00;
    border: 2px solid #7FFF00;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ctf:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ctf-image {
    margin-bottom: 15px;
}

.ctf-description h3 {
    color: #7FFF00;
    margin-bottom: 10px;
}

.ctf-description p {
    color: #fff;
    margin-bottom: 15px;
}

.ctf-description .btn {
    background-color: #7FFF00;
    color: #000;
    transition: background-color 0.3s ease;
}

.ctf-description .btn:hover {
    background-color: #6CC644;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    max-width: 300px;
    /* Ajuste el ancho máximo según sea necesario */
    margin: 0 auto;
    /* Centrar el contenedor */
}

/* Estilos para el cuadro de búsqueda */
#searchInput {
    flex: 1;
    padding: 8px;
    width: 100%;
    border: 2px solid #7FFF00;
    border-radius: 5px;
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 5px;
    /* Espacio entre el cuadro de búsqueda y el botón */
}

/* Estilos para el botón de búsqueda */
#searchButton {
    padding: 8px 16px;
    border: none;
    background-color: #7FFF00;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para el botón de búsqueda al pasar el cursor */
#searchButton:hover {
    background-color: #6CC644;
}

/* Estilos para el mensaje de error */
.error-message {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff6347;
    display: none;
    /* Ocultar el mensaje de error inicialmente */
    max-width: 300px;
    /* Limitar el ancho del mensaje de error */
    margin: 0 auto;
    /* Centrar horizontalmente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

/* Estilos adicionales para detalles del CTF */
header {
    background-color: #000;
    padding: 20px;
    color: #00FF00;
}

.terminal p {
    margin-bottom: 10px;
}

.btn-back {
    display: inline-block;
    background-color: #7FFF00;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-back:hover {
    background-color: #6CC644;
}

#ctf-details .container {
    text-align: center;
}

#ctf-details h2 {
    color: #7FFF00;
    margin-bottom: 20px;
}

.ctf-details {
    background-color: #001a00;
    border: 2px solid #7FFF00;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ctf-image img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #7FFF00;
    margin-bottom: 20px;
}

.ctf-description h3 {
    color: #7FFF00;
    margin-bottom: 10px;
}

.ctf-description p {
    color: #fff;
    margin-bottom: 15px;
}

.additional-info {
    display: none;
}

#ctf-details .btn {
    background-color: #7FFF00;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#ctf-details .btn:hover {
    background-color: #6CC644;
}

/* Estilos para la imagen del tutorial */
.tutorial-image {
    text-align: center;
    /* Centrar la imagen */
}

.tutorial-image img {
    max-width: 100%;
    /* Hacer que la imagen tenga un ancho máximo del 100% del contenedor */
    height: auto;
    /* Ajustar automáticamente la altura de la imagen */
    border-radius: 10px;
    /* Añadir bordes redondeados */
    border: 2px solid #7FFF00;
    /* Añadir borde */
    margin-bottom: 20px;
    /* Espacio inferior */
}

/* Estilos adicionales para los tutoriales */
.hero-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tutorial {
    background-color: #001a00;
    border: 2px solid #7FFF00;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutorial-description h3 {
    color: #7FFF00;
    margin-bottom: 10px;
}

.tutorial-description p {
    color: #fff;
    margin-bottom: 15px;
}

.additional-info {
    display: none;
}

.tutorial-buttons {
    text-align: center;
}

.btn-more-info {
    background-color: #7FFF00;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
}

.btn-more-info:hover {
    background-color: #6CC644;
}

/* CSS adicional para mostrar la información adicional */
.additional-info.show {
    display: block;
}

/* Estilos para el botón de descarga */
.download-button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.download-button:hover {
    background-color: #45a049;
}

/* Estilos para el botón de Más Información */
.more-info-button {
    display: inline-block;
    background-color: #008CBA;
    /* Color de fondo */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.more-info-button:hover {
    background-color: #00608E;
    /* Color de fondo al pasar el cursor */
}

.tutorial-image img {
    max-width: 60%;
    /* Reducir el ancho máximo al 60% */
    height: auto;
    border-radius: 10px;
    border: 2px solid #7FFF00;
    margin-bottom: 20px;
}